name: Build on Tag

on:
  push:
    tags: '*'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions: write-all
    steps:
    - name: Checkout kernel source
      uses: actions/checkout@v6
    - name: Checkout zipper
      uses: actions/checkout@v6
      with:
        repository: lemniskett/AnyKernel3
        path: zipper
    - name: Android kernel build
      uses: lemniskett/android-kernel-actions@master
      id: build
      env:
        NAME: lineage-18.1-x2-update-kernel-3.18.x-only
      with:
        arch: arm64
        compiler: aosp-clang/android11-release/clang-r365631c/binutils
        defconfig: lineage_x2_defconfig
        image: Image.gz-dtb
    - name: Release build
      uses: ncipollo/release-action@v1
      with:
        artifacts: ${{ steps.build.outputs.outfile }}
        token: ${{ secrets.GITHUB_TOKEN }}
